body{
    /*background: linear-gradient(70deg, #0ab4f2 , #fa4bba );*/
    background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

}
form{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
#fd{
    margin-top: 5%;
}
#mytop{
    margin-top: 10%
}
#mybottom{
    padding-bottom: 10%;
}
img{
    height: 10rem !important;
    width: 10rem !important;
}
.card{
    width: 10rem !important;
}

#last{
    margin-bottom: 1rem;
}